.btn{
    background-color: aquamarine;
    color: black;

    /* padding: auto; */
    /* margin: 50px 50px; */
}
.nav
{color: black;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  
  gap: 0 100px;
  
  margin: 10px 10px;
  padding: 0 20px;
  



}
.card{
    background-color:aquamarine(180, 252, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 40%;
    height: 30%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 2%;
    border-radius: 15%;
    
    backdrop-filter: blur(10px);
 

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    
}
.inp{
    width: 100%;

    background-color:rgb(180, 252, 228);
    display: flex;
    /* align-items: center; */

    /* margin: 0 50%; */
    /* margin-left: 35%; */
    border-radius: 5%;
    /* height: 10%;
    width: 40%; */
     gap: 20%; 
   
    padding: 2%;
    

}
.btn2{
    background-color: aquamarine;
    color: black;
width:150px;
margin:5% auto;
}
.head2{
    color: rgb(37, 86, 3);
    display: flex;
    justify-content: center;
}